* {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  color: white;
  background-color: black;
}
// navbar
.navbar {
  position: fixed;
  top: 0px;
  margin: 0px, 80px;
  width: 100%;
  z-index: 100;
  padding-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
}
.logo {
  font-weight: 800;
  font-size: 24px;
  flex: 20%;
  padding-left: 80px;
  color: #df9b59;
  white-space: nowrap;
}
.navbar .menu {
  display: none;
  width: auto;
}
.navigation {
  display: flex;
  flex: 80%;
}
a {
  text-decoration: none;
  display: inline-block;
  color: white;
}
.navlinks {
  display: flex;
  margin-left: 32px;
  font-weight: 400;
  font-size: 16px;
  width: 60%;
  padding: 16px;
  align-items: center;
  justify-content: space-around;
}
.navlinks a:hover,
.navlinks a:first-child {
  font-weight: 800;
}
.socials {
  display: flex;
  width: 20%;
  justify-content: space-around;
  padding: 16px;
  align-items: center;
}
.socials img {
  padding: 0 2px;
}
.btn a {
  background-color: #df9b59;
  color: black;
  text-align: center;
  padding: 16px 8px;
  border-radius: 10px;
}
.btn a:hover {
  background-color: #f7b87a;
}
#white-btn {
  width: 20%;
  margin-right: 80px;
  text-align: end;
}
#white-btn a {
  background-color: #b8b5a1;
}
#white-btn a:hover {
  background-color: #d6d3d3;
}

// wrapper
.wrapper {
  margin: 0 80px;
}

// first section
.container1 {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  margin-top: 276px;
}
.hero {
  display: block;
  flex: 50%;
  margin-right: 60px;
}
.hero h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 2px;
  color: #ffffff;
}
.hero p {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  color: #c4c4c4;
}
span {
  display: block;
}

.heroimage {
  flex: 50%;
  position: relative;
}
#image1 {
  position: absolute;
  top: -80px;
  right: 200px;
  height: 361.0057067871094px;
  max-width: 300px;
  border-radius: 5px;
  z-index: 10;
}
#image2 {
  position: absolute;
  right: 0px;
  height: 361.0057067871094px;
  max-width: 300px;
  border-radius: 5px;
}
.container1 .btn {
  margin-top: 24px;
}

// second section
.container2 {
  width: 100%;
  margin-top: 243px;
}
.subheading {
  display: flex;
  justify-content: end;
  margin-top: 32px;
  color: #df9b59;
}
.section-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 16px;
}

// second section row
.row {
  display: flex;
  position: relative;
  gap: 50px;
  margin-top: 16px;
}
.box {
  position: relative;
  display: flex;
  background-color: #2b2b32;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 200px;
  height: 299px;
  border-radius: 15px 15px 0px 0px;
}
.box img {
  border-radius: 15px 15px 0px 0px;
}
.caption {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 20px;
  height: 300px;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.caption p {
  display: block;
  width: 100%;
}
.caption-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// third section
.container3 {
  margin-top: 160px;
}
.hero-section {
  display: flex;
  margin-top: 48px;
}
.hero-section .heroimage {
  flex: 50%;
}
.hero-section .hero {
  margin-top: 64px;
  flex: 50%;
  padding-right: 30px;
  font-size: 16px;
}
.hero-section .btn {
  margin-top: 24px;
}

// fourth section
.container4 {
  margin-top: 161px;
}
.container4 .row {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.column {
  padding: 24px;
  height: 293px;
  width: 30%;
  margin-right: 48px;
  gap: 16px;
  box-sizing: border-box;
  border: 1px solid #48627e;
  border-radius: 10px;
  min-width: 350px;
}
.column h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #90accb;
}
.list {
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
  padding-left: 16px;
  line-height: 32px;
  color: #c4c4c4;
}

// fifth section
.container5 {
  margin-top: 160px;
}
.container5 .hero-section {
  margin-top: 0;
}
.container5 .hero {
  padding-right: 80px;
  font-size: 16px;
}
.container5 .heroimage {
  text-align: center;
}

// sixth section
.container6 {
  margin-top: 219px;
}
.questions-wrapper {
  margin-top: 48px;
  list-style-type: none;
  align-items: center;
}
.collapsibles {
  display: flex;
  width: 70%;
  justify-content: space-between;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #c4c4c4;
}
.collapse-open-icon {
  display: none;
}
.answer {
  display: none;
  width: 70%;
  color: #c4c4c4;
  margin: 16px 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

// hover
.collapsibles:hover {
  color: #df9b59;
}
.questions:hover .answer,
.questions:hover .collapse-open-icon {
  display: block;
}
.questions:hover .collapse-close-icon {
  display: none;
}

// footer
.footer {
  margin: 120px 0px 30px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer h1 {
  color: #df9b59;
  font-weight: 800;
  font-size: 24px;
}
.footer p {
  font-size: 16px;
}

// media queries
@media (max-width: 1100px) {
  .navigation .socials {
    display: none;
  }
  .hero h1 {
    font-size: 48px;
  }
  #image1 {
    height: 258px;
    width: 214px;
  }
  #image2 {
    height: 258px;
    width: 214px;
  }
  .hero-section {
    margin-top: 32px;
    flex-direction: column;
    justify-content: center;
  }
  .hero-section .heroimage {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  .hero-section .hero {
    width: 100%;
    text-align: left;
  }
  .hero-section .hero p {
    text-align: start;
  }
  .hero-section .btn {
    text-align: start;
  }
  .container5 .heroimage {
    display: none;
  }
  .container5 .hero {
    margin-top: 0px;
    padding: 0px;
  }
  .container6 {
    margin-top: 80px;
  }
}

@media (max-width: 900px) {
  .navbar {
    margin: 0;
  }
  .navbar .menu {
    display: block;
    margin-right: 28px;
  }
  .menu:hover + .navigation {
    display: block;
    padding-left: 25%;
  }
  .navigation {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0px 0px 0px;
    position: absolute;
    width: 90%;
    height: 500px;
    margin: 0px 28px;
    top: 80px;
    background-color: rgba(5, 5, 5, 0.9);
  }
  .navlinks {
    flex-direction: column;
    margin-left: 0;
    padding: 0;
  }
  .navlinks a {
    border: 1px solid #df9b59;
    border-radius: 5px;
    margin: 10px;
    padding: 8px;
  }
  .logo {
    padding-left: 28px;
  }
  .navigation .socials {
    display: none;
  }
  #white-btn {
    text-align: center;
    margin-right: 0;
    text-align: center;
    padding: 5px 0px 0px 30px;
  }
  #white-btn a {
    white-space: nowrap;
    margin-left: 10px;
  }
  .btn {
    text-align: center;
  }
  .wrapper {
    margin: 0 28px;
  }
  //   first section
  .container1 {
    width: 100%;
    flex-direction: column;
    margin-top: 132px;
    justify-content: space-evenly;
  }
  .hero {
    margin-right: 0;
  }
  .hero h1 {
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin: 0px 36px;
  }
  .hero p {
    text-align: center;
    margin: 36px;
  }
  p span {
    display: inline;
  }
  .heroimage {
    position: relative;
    right: 15%;
    width: 100%;
    margin: 120px auto;
  }

  #image1 {
    height: 288px;
    width: 244px;
  }
  #image2 {
    height: 288px;
    width: 244px;
  }
  .container2,
  .container3,
  .container4,
  .container6 {
    margin-top: 100px;
  }
  .container2 {
    margin-top: 200px;
  }
  .collapsibles {
    width: 100%;
  }
  .answer {
    width: 100%;
  }
  .footer {
    margin-top: 80px;
    flex-direction: column;
    gap: 29px;
  }
  .footer .socials {
    width: 180px;
    order: 2;
  }
  .footer p {
    order: 3;
  }
}
// navbar
@media (max-width: 600px) {
  //   first section
  .container1 {
    width: 100%;
    flex-direction: column;
    margin-top: 132px;
    justify-content: space-evenly;
  }
  .hero {
    margin-right: 0;
  }
  .hero h1 {
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin: 0px 36px;
  }
  .hero p {
    text-align: center;
    margin: 36px;
  }
  p span {
    display: inline;
  }
  .heroimage {
    position: relative;
    right: auto;
    left: auto;
    width: 100%;
    margin: 120px auto;
  }
  #image1 {
    height: 258px;
    width: 214px;
  }
  #image2 {
    height: 258px;
    width: 214px;
  }
  //   third section
  .hero-section {
    margin-top: 32px;
    flex-direction: column;
    justify-content: center;
  }
  .hero-section .heroimage {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  .hero-section .hero {
    width: 100%;
    text-align: left;
  }
  .hero-section .hero p {
    text-align: start;
  }
  .hero-section .btn {
    text-align: start;
    margin-left: 36px;
  }
  //   fourth section
  .container4 {
    margin-top: 80px;
  }
  //   fifth section
  .container5 {
    margin-top: 80px;
  }
  .container5 .heroimage {
    display: none;
  }
  .container5 .hero {
    margin-top: 0px;
    padding: 0px;
  }
  .container6 {
    margin-top: 80px;
  }
    
}
